*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.auth-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.auth-card {
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    padding: 40px;
    width: 100%;
    max-width: 450px;
    border: 1px solid #e5e7eb;

}

.auth-header {
    text-align: center;
    margin-bottom: 30px;
}

.auth-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.form-label {
    font-weight: 500;
    color: #374151;
}
.input-with-icon {
    position: relative;
    /* padding-left: 40px; */
}
.input-with-icon input {
    padding-left: 40px;
}
.input-icon {
    position: absolute;
    left: 14px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 18px;
    
}

.form-input {
    width: 100%;
    padding: 12px 16px 12px 40px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    font-size: 14px;   
    background-color: white;
}

.form-input:focus {
    outline: none;
    border-color: #059669;
}

.auth-submit-btn {
    width: 100%;
    background: #059669;
    color: white;
    border: none;
    border-radius: 8px;
    padding: 15px 20px;
    font-size: 14px;
    font-weight: 500;
    cursor: pointer; 
    margin-top: 8px;
}

.auth-footer a {
    text-decoration: none;
    font-weight: 500;
}